/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/

// Travel
.travel {
  &__inner {
    padding: 50px 150px;
  }
}

// Popular
.popular {
  &__item {
    flex-basis: 23%;
  }
}

// Side
.side {
  display: block;
}
