/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

body {
  font-family: 'Kameron', 'Noto Sans JP', sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

// Utility
.font-sm {
  font-size: 14px;
}
.font-md {
  font-size: 17px;
}
.font-lr {
  font-size: 17px;
}
.font-lg {
  font-size: 25px;
}
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.main-title {
  display: block;
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
}

.sub-title {
  @extend .font-sm;
  color: $cSubTitle;
}

.flex {
  display: flex;
  flex-direction: column;
}

.purple {
  color: $cWineRed;
}

.logo {
  font-size: 42px;
  display: flex;
  
  &__img {
    width: 0.7em;
  }

  &__world {
    color: $cWineRed;
  }
}

.icon {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -35%;
    width: 1em;
    height: 1em;
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &.twitter {
    &::before {
      background-image: url(../../images/twitter.svg);
    }
  }

  &.fb {
    &::before {
      background-image: url(../../images/facebook.svg);
    }
  }
}

// Container
#container {
  background-color: $cWhite;
  position: relative;
  transition: transform 0.5s, box-shadow 0.5s;
  z-index: 10;
}

// Header
.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navHeight;
  background-color: transparent;
  z-index: 100;

  &.triggered {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
  }

  &__inner {
    @extend .content-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: none;
  }

  &__ul {
    @extend .flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  &__li {
    margin-left: 20px;

    & > a {
      color: $cBlack;
      text-decoration: none !important;
      text-transform: uppercase;
    }
  }

  & .logo {
    font-size: 38px;
    justify-content: center;
  }

}

// Content
#content {
  padding-top: $navHeight;
}

// Main Content
#main-content {
  // ローカルスタッキングコンテキスト
  position: relative;
  z-index: 0;
}

// Side
.side {
  display: none;
  position: fixed;
  top: 70%;
  transform: translateY(-50%);
  z-index: 100;
  transition: all 0.3s ease-in;

  &.left {
    left: -50px;

    &.inview {
      left: 50px;
    }

    & .side__inner {
      transform-origin: top left;
      transform: rotate(-90deg);
    }
  }

  &.right {
    right: -50px;
    
    &.inview {
      right: 50px;
    }

    & .side__inner {
      transform-origin: top right;
      transform: rotate(90deg);
    }
  }

  & .tween-animate-title {
    color: $cBlack;
    text-decoration: none;
    margin: 0 40px;
    vertical-align: middle;
    letter-spacing: 2px;
  }
}

// Travel
.travel {
  @extend .content-width;
  @extend .mb-lg;
  
  &__inner {
    @extend .flex;
    justify-content: space-between;
    background-color: $cBgGray;
    padding: 15px;
    // ローカルスタックコンテキストを生成
    position: relative;
    z-index: 0;
  }

  &__img {
    height: 300px;
    @extend .mb-sm;
    transition: box-shadow 1ms linear 0.8s;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      z-index: -1;
    }

    &.inview {
      box-shadow: inset 0 0 30px $cBlack;
    }
  }

  &__texts {
    @extend .mb-sm;

    &.inview {
      & .travel__title::before {
        transform: translateY(-50%);
      }
    }
  }

  &__title {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -120px;
      width: 100px;
      height: 1px;
      background-color: $cBlack;
      transform: translateY(-50%) scaleX(0);
      transform-origin: right;
      transition: transform 0.3s ease 1.6s;
      visibility: hidden;
    }
  }

  &__sub {
    @extend .mb-sm;
  }

  &__btn {
    text-align: center;
  }
}

// Houses
.houses {
  @extend .content-width;
  @extend .mb-lg;

  &__inner {
    @extend .flex;
  }

  &__title {
    @extend .font-lr;
    @extend .mb-sm;
  }

  &__btn {
    text-align: center;
    flex-basis: 100%;
  }
}

// Popular
.popular {
  &__header {
    @extend .content-width;
  }

  &__inner {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 90%;
      background-color: $cBgGray;
    }
  }

  &__container {
    position: relative;
    z-index: 2;
    @extend .flex;
    @extend .content-width;
    @extend .pb-sm
  }

  &__img {
    height: 150px;
    overflow: hidden;
    margin-bottom: 5px;

    & > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__title {
    @extend .font-md;
    @extend .mb-sm;
  }

  &__btn {
    text-align: center;
    flex-basis: 100%;
    @extend .mb-lg;
  }
}

// Footer
.footer {
  padding: 60px 0;
  @extend .content-width;

  & .logo {
    font-size: 38px;
    justify-content: center;
  }

  &__nav {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__ul {
    @extend .flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  &__li {
    padding: 0;
    margin: 10px;

    & > a {
      color: $cSubTitle;
      text-decoration: none;
    }
  }
}